@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
  <label>text: <input class="output_text"></input></label>
  <label>key: <input class="output_key"></input></label>
  <label>iv: <input class="output_iv"></input></label>
</div>
<textarea class="output2"></textarea>